@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
// font-family: 'Roboto', sans-serif;


.body{
	width: 1900px;
	height: 1230px;
	background-image: url("../img/fon.png");
	.container_1{
		height: 1200px;
		padding: 60px 350px 0px 350px;
		.header{
			display: flex;
			.header_text{
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
				margin-left: 75px;
				font-size: 20px;
				line-height: 130%;
				color: white;
			}
			.button{
				margin-left: 500px;
				padding: 13px 37px 14px;
				width: 222px;
				height: 50px;
				border: 1px solid #FDA700;
				border-radius: 10px;
				cursor: pointer;
				p{
					font-family: 'Roboto', sans-serif;
					font-weight: 500;
					font-size: 20px;
					line-height: 23px;
					color: #FDA700;
				}
			}
		}
		.main{
			width: 1200px;
			display: flex;
			margin-top: 115px;
			.main_left{
				h1{
				width: 799px;
				height: 222px;
				font-family: 'Orchidea Pro';
				font-weight: 500;
				font-size: 50px;
				line-height: 50px;
				text-transform: uppercase;
				color: #FFFFFF;
					.orange_text{
						font-family: 'Orchidea Pro';
						font-weight: 500;
						font-size: 50px;
						line-height: 50px;
						text-transform: uppercase;
						color: #FDA700;
					}
				}
				.main_left_text{
					width: 623px;
					height: 117px;
					font-family: 'Roboto';
					font-weight: 400;
					font-size: 30px;
					line-height: 35px;
					color: #FFFFFF;
				}
				.main_left_footer{
					margin-top: 230px;
					display: flex;
					flex-direction: row;
					align-items: center;
					padding: 12px 13px;
					gap: 16px;
					width: 660px;
					height: 97px;
					background: rgba(255, 255, 255, 0.8);
					border-radius: 10px;
					.main_left_footer_text{
						width: 379px;
						height: 53px;
						font-family: 'Roboto';
						font-weight: 400;
						font-size: 20px;
						line-height: 130%;
						color: #373737;
					}
					.main_left_footer_button{
						padding: 12px 25px;
						gap: 10px;
						width: 150px;
						height: 54px;
						background: #0D2B6D;
						border-radius: 10px;
						cursor: pointer;
						.main_left_footer_button_text{
							display: flex;
							width: 110px;
							height: 30px;
							font-family: 'Orchidea Pro';
							font-weight: 500;
							font-size: 30px;
							line-height: 30px;
							color: #FDA700;
						}
					}
				}
			}
			.main_right{
				width: 500px;
				.main_right_video{
					margin-top: 35px;
					display: flex;
					img{
						margin-left: 100px;
						width: 100px;
						height: 100px;
						cursor: pointer;
					}
					.main_right_video_text{
						position: absolute;
						margin-left: 220px;
						font-family: 'Roboto';
						font-weight: 400;
						font-size: 20px;
						line-height: 130%;
						color: #FFFFFF;
					}
				}
				.main_right_registration{
					position: relative;
					top: 30px;
					left: -100px;
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 50px 45px 59px;
					gap: 20px;
					width: 500px;
					height: 500px;
					background: rgba(13, 43, 109, 0.8);
					border-radius: 10px;
					.main_right_registration_text{
						font-family: 'Orchidea Pro';
						font-style: normal;
						font-weight: 500;
						font-size: 30px;
						line-height: 30px;
						text-transform: uppercase;
						color: #FDA700;
					}
					.main_right_registration_input{
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						padding: 0px;
						gap: 15px;
						width: 400px;
						height: 341px;
						.main_right_registration_input_forms{
							padding: 20px 20px;
							width: 400px;
							height: 57px;
							background: #0D2B6D;
							font-family: 'Roboto';
							font-weight: 300;
							font-size: 18px;
							line-height: 130%;
							color: #FFFFFF;
							.tel_list{
								margin-top: 7px;
								cursor: pointer;
							}
							input{
								position: absolute;
								right: 60px;
								width: 280px;
								height: 25px;
								background: #0D2B6D;
							}
						}
					}
					.main_right_registration_button{
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: flex-start;
						padding: 18px 144px;
						gap: 10px;
						width: 400px;
						height: 59px;
						background: #FDA700;
						border-radius: 10px;
						cursor: pointer;
						.main_right_registration_button_text{
							font-family: 'Roboto';
							font-style: normal;
							font-weight: 500;
							font-size: 20px;
							line-height: 23px;
							text-align: center;
							color: #373737;
						}
					}
				}
			}
			.position{
				width: 100%;
				height: 220px;
				position: absolute;
				left: 0px;
				.main_users{
					display: flex;
					margin-top: 799px;
					justify-content: space-around;
					padding: 50px 350px 40px 350px;
					background: #0D2B6D;
					.main_user{
						display: flex;
						img{
							width: 115px;
							height: 115px;
						}
						.main_user_card{
							margin-top: 15px;
							margin-left: 20px;
							width: 234px;
							height: 86px;
							font-family: 'Roboto';
							font-weight: 400;
							font-size: 20px;
							line-height: 130%;
							.main_user_card_text{
								color: #FFFFFF;
							}
							.main_user_card_text_orange{
								color: #FDA700;
							}
						}
					}
				}
			}
		}
	}
}

.container_2{
	margin: 0 auto;
	width: 1200px;
	margin-top: 100px;
	height: 800px;
	
	.problema{
		
		height: 612px;
		background: #F3F3F3;
		box-shadow: 4px 4px 4px rgba(83, 83, 83, 0.25);
		padding: 40px 0px 0px 0px;
		h2{
			font-family: 'Orchidea Pro';
			font-weight: 500;
			font-size: 60px;
			line-height: 61px;
			text-transform: uppercase;
			color: #373737;
			text-align: center;
		}
		.problema_cards{
			margin-top: 40px;
			display: flex;
			justify-content: space-around;
			.problema_card{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 0px;
				gap: 25px;
				width: 280px;
				height: 460px;
				.problema_card_button{
					width: 277px;
					height: 52px;
					left: 6px;
					top: 4px;
					background: #0D2B6D;
					border: 1px solid rgba(255, 255, 255, 0.5);
					border-radius: 10px;
					.problema_card_button_text{
						margin-top: 10px;
						font-family: 'Orchidea Pro';
						font-weight: 500;
						font-size: 30px;
						line-height: 30px;
						text-align: center;
						text-transform: uppercase;
						color: #FDA700;
					}
				}
				.problema_card_text{
					font-family: 'Roboto';
					font-weight: 400;
					font-size: 20px;
					line-height: 130%;
					color: #373737;
					.problema_card_text_orange{
						color: #FDA700;
					}
				}
			}
		}
		img{
			position: absolute;
			top: 1880px;
			margin-left: 550px;
			width: 84px;
			height: 84px;
			background: #0D2B6D;
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-radius: 150%;
		}
	}
}